<?xml version="1.0"?>
<config>
    <modules>
        <Ambimax_StaticBlockScheduler>
            <version>1.0.0</version>
        </Ambimax_StaticBlockScheduler>
    </modules>

    <global>
        <models>
            <ambimax_staticblockscheduler>
                <class>Ambimax_StaticBlockScheduler_Model</class>
                <resourceModel>ambimax_staticblockscheduler_resource</resourceModel>
            </ambimax_staticblockscheduler>
            <ambimax_staticblockscheduler_resource>
                <class>Ambimax_StaticBlockScheduler_Model_Resource</class>
            </ambimax_staticblockscheduler_resource>
        </models>

        <blocks>
            <ambimax_staticblockscheduler>
                <class>Ambimax_StaticBlockScheduler_Block</class>
            </ambimax_staticblockscheduler>
                <!--<cms>-->
                    <!--<rewrite>-->
                        <!--<block>Ambimax_StaticBlockScheduler_Block_StaticBlock</block>-->
                    <!--</rewrite>-->
                <!--</cms>-->
        </blocks>

        <helpers>
            <ambimax_staticblockscheduler>
                <class>Ambimax_StaticBlockScheduler_Helper</class>
            </ambimax_staticblockscheduler>
        </helpers>

        <resources>
            <ambimax_staticblockscheduler_setup>
                <setup>
                    <module>Ambimax_StaticBlockScheduler</module>
                    <class>Ambimax_StaticBlockScheduler_Model_Resource_Setup</class>
                </setup>
            </ambimax_staticblockscheduler_setup>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <ambimax_staticblockscheduler>
                    <file>ambimax/staticblockscheduler.xml</file>
                </ambimax_staticblockscheduler>
            </updates>
        </layout>

        <events>
            <adminhtml_block_html_before>
                <observers>
                    <ambimax_staticblockscheduler_fieldset>
                        <class>ambimax_staticblockscheduler/observer</class>
                        <method>addTheFromAndToDateFieldsToFieldset</method>
                    </ambimax_staticblockscheduler_fieldset>
                    <ambimax_staticblockscheduler_grid>
                        <class>ambimax_staticblockscheduler/observer</class>
                        <method>addTheTwoColumnsToTheStaticBlocksGrid</method>
                    </ambimax_staticblockscheduler_grid>
                </observers>
            </adminhtml_block_html_before>
        </events>

        <translate>
            <modules>
                <Ambimax_StaticBlockScheduler>
                    <files>
                        <default>Ambimax_StaticBlockScheduler.csv</default>
                    </files>
                </Ambimax_StaticBlockScheduler>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <ambimax_staticblockscheduler_banner>
                        <class>ambimax_staticblockscheduler/observer</class>
                        <method>checkIfShallBeDisplayed</method>
                    </ambimax_staticblockscheduler_banner>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </frontend>
</config>
